.btn {
  padding: 10px 8px;

  background-color: $color-attention;
  border-radius: $border-radius-main;
  border: none;

  color: white;
  text-align: center;

  transition: opacity 0.5s;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}
