body {
  margin: 0;
  font-family: $font-main;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}

@keyframes shake {
  0%,
  100% {
    transform: translate(0, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-5px, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(5px, -50%);
  }
}

