@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

$font-main: 'Roboto Condensed', sans-serif;

$color-main: #000000;
$color-secondary: #CCCCCC;
$color-attention: #4997D0;

$space-m: 20px;
$space-l: 30px;

$breakpoint-desktop: 768px;

$border-radius-main: 3px;
